body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#pagewrapper {
    width: 900px;
    margin: 10px auto;
    padding: 0;
    border: 1px solid #999;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1e6e6;
}
#content {
    padding: 20px 10px;
}
#header {
    background-color: #cc0033;
    margin: 0;
    padding: 0;
}
#header p {
    padding: 20px 10px;
    font-size: 24px;
    margin: 0;
    color: white;
    font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#footer {
    background-color: #333;
    padding-top: 6px;
    padding-bottom: 6px;
    clear:both;
    border-top: 2px solid #999;
    text-align: center;
}
#footer p, #footer a {
    text-align: center;
    font-size: 12px;
    color: white;
    font-weight:bold;
    margin: 0;
    padding: 2px;
}

/* Navigation Bar at the top */

#navbar ul {
    padding: 0;
    margin: 0;
    background-color: #999;
    color: White;
    float: left;
    width: 100%;
    list-style: none;
    font-weight: bold;
    font-size: 13px;
    border-bottom: 2px solid #333;
}
#navbar ul li {
    display: inline;
    color: White;
    float: left;
    border-right: 1px solid #333;
    font-family: Arial, helvetica, sans-serif;
}
#navbar ul li a {
    padding: 0.2em 0.7em;
    background-color: #999;
    color: White;
    text-decoration: none;
    float:left;
}
#navbar ul li a:hover {
    background-color: #333;
    color: #cc0033;
}
#navbar #current a {
	background-color: #cc0033;
    color: Black;
}

 /* sub nav bar */
#subnav {
	width: 200px;
	float: left;
	border-right: 1px solid black;

}
#edit {
	font-size:12px;
}
#subnav {
	width: 160px;
	float: left;
	margin: 0 20px 15px -10px;
}
#subnav ul {
    list-style: none;
    font-weight: bold;
    font-size: 13px;
	margin: 0;
	padding: 0;
}
#subnav ul li {
	background-color: #999;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
}
#subnav ul li a {
	padding: 5px 10px;
	display:block;
	color:white;
	text-decoration: none;
}
#subnav ul li a:hover {
    background-color: #333;
    color: #cc0033;
}
#subbody {
	float: left;
    margin: 0 0px 10px -10px;
    width:  575px;
}

a:link {
    color: blue
}

a:visited {
    color: #cc00cc
}

a:hover {
    text-decoration: none;
    color: red;
    background-color: blue;
}

a:active {
    color: aqua;
    background-color: navy;
}

#tnt_pagination {
	display:block;
	text-align:left;
	height:22px;
	line-height:21px;
	clear:both;
	padding-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
}

#tnt_pagination a:link, #tnt_pagination a:visited{
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#0072bc;
	width:22px;
	font-weight:normal;
}

#tnt_pagination a:hover {
	background-color:#DDEEFF;
	border:1px solid #BBDDFF;
	color:#0072BC;
}

#tnt_pagination .active_tnt_link {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #BBDDFF;
	margin-left:10px;
	text-decoration:none;
	background-color:#DDEEFF;
	color:#0072BC;
	cursor:default;
}

#tnt_pagination .disabled_tnt_pagination {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
}
/*
* Style: Tabelle rot-weiss
* Author: Jens Mielke, 4wd media
* Site: www.4wdmedia.de
* Country Origin: Germany
*/

#itsthetable {
	font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}
a, a:visited {
	color: white;
	text-decoration: none;
	display: block;
}
a:visited {
	text-decoration: line-through ;
}
th, td {
	vertical-align: top;
	text-align: left;
}
table {
	font-weight: normal;
	color: black;
}

th {
	font-weight: bold;
	color: black;
}
table {
	background-color: #cc0033;
	padding: 2px;
}
table {
	border-spacing: 0;
	width: 890px;
	background-color: #dedef1;
}
td, th {
	padding: 2px;
}
tbody td, tbody th {
	color: black ;
}
tbody th a {
	color: black;
}
tbody tr:hover td, tbody tr:hover th, tbody tr:hover td a, tbody tr:hover th a {
	color: #cc0033;
	background-color: black;
}
tbody tr:hover td a:visited, tbody tr:hover th a:visited {
	color: #cc0033;
}
